<div class="mainDiv">
    <div class="navBar">
      <nav>
        <h2>Pension Management</h2>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/pensioner-list">Pensioner List</a></li>
           <li><a routerLink="/pensioner-input">Calculate Pension</a></li> 
          <li><a routerLink="/pension-disburse">Disburse Pension</a></li>
          <li><a routerLink="/profile">Profile</a></li>
        </ul>
      </nav>
    </div>

