.mainDiv {
    padding: 0px;
    font-family:raleway;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%); */
  }
  nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: white;
    align-self: center;
  }
  nav h2{
    margin: 10px;
    padding: 5px;
    font-weight: 900;
    font-size: 32px;
    font-family:raleway;
  }
  ul li{
    display: inline-block; 
    padding:1px;
    font-size:15px;
  }
  a:link, a:visited {
    color: white;
    margin-left: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }  
  
  
  a:hover, a:active {
    color: turquoise;
  }
  
  nav .active{
    color: turquoise;
  }