
.mainDiv {
  padding: 0px;
  font-family:raleway;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(115deg, #022124 10%, #5960b9 90%);
}

.formCont .forgotpswd{
  color: black;
}
.formCont .forgotpswd:hover,.formCont .forgotpswd:active{
  opacity: 0.9;
}
nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  color: white;
  align-self: center;
}
nav h2{
  width: 40%;
  margin: 10px;
  padding: 5px;
  font-weight: 900;
  font-size: 32px;
  font-family:raleway;
}
ul li{
  display: inline-block; 
  padding:1px;
  font-size:15px;
}
a:link, a:visited {
  color: white;
  margin-left: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}  


a:hover, a:active {
  color: rgb(5, 78, 71);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}

.formCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 40%;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  background-color: white;
}

h1{
  font-family:raleway;
  font-size: 29px;
  font-style:bold;
  font-weight: 500;
  padding: 5px;
  margin-top: 10px;
}
input{
  width: 75%; 
  margin: 8px;
  padding: 12px 20px; 
  box-sizing: border-box; 
  outline: none;
}


button{
  width: 75%;
  background: linear-gradient(115deg, #0a0500 10%, #757375 90%);
  font-family:raleway;
  font-size: 18px;
  margin: 5px 0px;
  padding: 12px 20px;
  border: none;
  background-color: rgb(4, 4, 68);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}
button:hover{
  opacity: 0.9;
}