<app-navbar></app-navbar>
    <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </header>
      <div class="mainDiv">
        <div class="navBar">
        </div>
        <div class="container">
           <form (ngSubmit)="onSubmit()" class="formCont">
            <h1>Calculate Pension Amount</h1>
            <input
              type="text"
              autocomplete="off"
               name="name"
              id="userName"
              placeholder="Name"
              [(ngModel)]="credentials.name"
              required
            />
            <input
             type="date"
            autocomplete="off"
            name="dateOfBirth"
            [(ngModel)]="credentials.dateOfBirth"
            id="dateOfBirth"
            placeholder="dateOfBirth"
           
            />
            <input
            type="text"
            autocomplete="off"
            name="panNumber"
            id="panNumber"
            placeholder="panNumber"
            [(ngModel)]="credentials.panNumber" 
            required
          />
          <input
          type="text"
          autocomplete="off"
          name="aadhaarNumber"
          id="aadhaarNumber"
          placeholder="aadhaarNumber"
          [(ngModel)]="credentials.aadhaarNumber"
          required
        />
        <!-- <input
        type="text"
        autocomplete="off"
        name="pensionType"
        id="pensionType"
        placeholder="pensionType"
        [(ngModel)]="credentials.pensionType" 
        required
      /> -->
      <select name="pensionType" [(ngModel)] = "credentials.pensionType" required >
        <option value=""  placeholder selected style="color: grey;">Pension Type</option>
        <option value="self">Self</option>
        <option value="family">Family</option>
      </select>
      <button type="submit" mat-raised-button color="primary">Calculate Pension</button>
      <button type="reset" mat-raised-button color="accent" style="margin-left: 10px;">Reset</button>              
          </form>
        </div>
    
    </div>
    <div class="mainDiv">
      <div class="box">
        <table  class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date-Of-Birth</th>
                    <th>Pan Number</th>
                    <th>Pension Amount</th>
                    <th>Pension Amount</th>
            </tr>
            </thead>
           <tbody> 
            <tr *ngFor="let data of pension">
                    <td>{{data.name}}</td>
                    <td>{{data.dateOfBirth}}</td>
                    <td>{{data.panNumber}}</td>
                    <td>{{data.pensiontype}}</td>
                    <td>{{data.pensionAmount}}</td>
                </tr>
            </tbody>
         </table>
    </div> 
    </div>
      
       
 